:root {
  /* Colors */
  --clr-neutral-999: white;
  --clr-neutral-800: hsl(221, 100%, 96%);
  --clr-neutral-600: hsl(231, 100%, 89%);
  --clr-neutral-400: hsl(224, 30%, 27%);

  --clr-prim-900: hsl(0, 100%, 67%);
  --clr-prim-800: hsl(39, 100%, 56%);
  --clr-prim-500: hsl(234, 85%, 45%);

  /* Gradients */
  --grad-900: hsl(252, 100%, 67%);
  --grad-800: hsl(241, 81%, 54%);

  --grad-600: hsla(256, 72%, 46%, 1);
  --grad-500: hsla(241, 72%, 46%, 0);

  /* Font */
  --fw-light: 500;
  --fw-medium: 700;
  --fw-bold: 800;
}

/* Basic Reset */

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

a {
  text-decoration: none;
  font: inherit;
}

/* GLOBAL FONT */
html {
  font-family: "Hanken Grotesk", sans-serif;
}

/* START OF MAIN SITE STYLING */
.result {
  height: 20rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--grad-900),
    var(--grad-800)
  );
}

.result__title {
  color: var(--clr-neutral-600);
}

.result__value {
  aspect-ratio: 1;
  padding: 1rem;
  border-radius: 100%;
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-999);
  background-image: linear-gradient(
    to bottom,
    var(--grad-600),
    var(--grad-500)
  );
}

.result__value h2 {
  font-size: 3.5rem;
}

.result__value p {
  color: var(--clr-neutral-600);
}

.result__response h2 {
  font-size: 1.5rem;
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-999);
}

.result__response p {
  color: var(--clr-neutral-600);
}
